API_BASE_URL="https://laravel-dev.irwandandka.my.id/api"
API_DEVELOPMENT="http://localhost:8000/api"
API_KEY=""
APP_NAME="TourPackage"
APP_SLUG="tour-package"
APP_SCHEME="tour-package"
IOS_BUNDLE_ID="host.exp.exponent"
